# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
*.sh
*.csv
*.pth*
*.jpg
~*
out
gen
/cfgs/
/configs/
/data/
/images/
/lib/
/models/
/trainval.py
/requirements.txt
/LICENSE
/demo.py
/test.py
/_init_paths.py
/README.md
/trainval_net.py
/test_net.py
/tmp.py
