# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
*.sh
*.csv
*.pth*
*.jpg
~*
out
gen
/cfgs/
/configs/
/data/
/images/
/lib/
/models/
/faster_rcnn_trainval.py
/requirements.txt
/LICENSE
/demo.py
/faster_rcnn_test.py
/_init_paths.py
/README.md
/tmp.py
